.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-inline: auto;
}
.headerTitles button {
  padding: 10px;
  font-size: medium;
  margin-left: 50%;
  color: aliceblue;
  background-image: linear-gradient(
    to right,
    rgb(180, 28, 185),
    rgb(100, 20, 130)
  );
  cursor: pointer;
  height: 50px;
  width: 45%;
  border-radius: 10px;
  border: none;
  box-shadow: 0.2em 0.2em 0.2em rgb(101, 24, 104);
}

.headerTitles {
  width: 50%;
}

.headerImg {
  width: 7em;
  height: 100px;
  border-radius: 50%;
  margin-left: 5%;
  margin-top: 10px;
  border: 1px solid rgb(144, 33, 148);
}

.headerLogo {
  width: 50%;
}

button:active {
  transform: scale(0.95);
}

@media (max-width: 600px) {
  .headerImg {
    width: 5em;
    height: 70px;
  }

  .headerTitles button {
    width: 95%;
    margin: auto;
  }
}
