@import url(https://fonts.googleapis.com/css?family=Island+Moments:regular);

.allPosts {
  text-align: center;
  font-family: "Island Moments", sans-serif;
  font-size: 2em;
  width: 40%;
  margin: auto;
  padding-bottom: 10px;
}

.allPosts h1 {
  border-bottom: 1px solid black;
}
