img {
  width: 100%;
  height: 30vh;
}
.postText {
  text-align: center;
  padding: 20px;
}

.postText p {
  text-overflow: ellipsis;
}

.titleLink {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  -moz-box-shadow: 0 0 9px black;
  -webkit-box-shadow: 0 0 9px black;
  box-shadow: 0 0 9px black;
  border: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.titleLink:visited {
  color: black;
}
