.singleImg {
  width: 100%;
  height: 50vh;
  z-index: -1;
}

.singleImg[alt] {
  font-weight: bolder;
}

.imgContainer {
  text-align: center;
  padding-bottom: 20px;
}

.singleContainer {
  width: 70%;
  margin-inline: auto;
}

.loading {
  text-align: center;
}

.singlePostText {
  font-size: 1.5em;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}

.goBack {
  background: none;
  border: none;
  width: 9em;
  float: left;
  cursor: pointer;
  font-size: 1.8em;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: left;
}

@media (max-width: 900px) {
  .singleContainer {
    width: 100%;
  }

  .singlePostText {
    width: 80%;
    margin: auto;
  }

  .goBack {
    font-size: 1.5em;
    width: 40%;
  }
}
@media (max-width: 400px) {
  .singleContainer {
    width: 100%;
  }

  .singlePostText {
    width: 95%;
    margin: auto;
  }

  .goBack {
    font-size: 1.5em;
    width: 60%;
  }
}
